.App {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;

  background-color: #fadff1;
}

.App-header, .App-footer {
  background-color: #4d5d53;
  min-height: 70px;
  padding: 20px;
  color: #fadff1;
  margin-bottom: 20px;
}

.App-title {
  font-size: 2em;
}

.App-intro {
  font-size: large;
}

h4 {
  font-style: italic;
}

.meatAndPotatoes {
  background-color: #fadff1;
  color: #4d5d53;
}